#dashboardView {
  margin: 30px;
}

#dashboardView #show_dashboard {
  display: flex;
  justify-content: space-evenly;
}

#dashboardView #show_dashboard .card {
  width: 250px;
  height: 150px;
  /* background-color: #303030; */
  background-color: #9e761b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#dashboardView #show_dashboard .card h2 {
  margin: 0;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}

#dashboardView #show_dashboard .card p {
  margin: 0;
  font-size: 18px;
  color: #c2c2c2;
}

#dashboardView .graphImg {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.auto-list {
  /* position: relative; */
}

.autocompleted-list {
  /* position: absolute; */
  /* top: 70px; */
  /* left: 0; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.autocompleted-list li {
  color: #000;
  padding: 12px 20px;
  width: calc(100% - 40px);
  cursor: pointer;
}

.autocompleted-list li:hover {
  color: #515151;
}