.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3399ff;
}

.navbar h1 {
  margin-left: 80px;
  font-size: 30px;
}

.navbar .wlc {
  color: white;
  margin-right: 80px;
  font-size: 22px;
  font-weight: 400;
}

.navbar .wlc span {
  color: #3399ff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}


.navbar div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.navbar div p:hover {
  transition: .5s;
  color: #3399ff;
  cursor: pointer;
}