/* model css her  */
.profile-content form {
  border: 3px solid #f1f1f1;
}

.profile-content input[type=text],
input[type=email],
input[type=date],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  /* Disable textarea resizing */
  line-height: 1.5;

  font-family: inherit;
}

.profile-content button {
  background-color: #3399ff;
  color: white;
  padding: 10px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.profile-content button:hover {
  opacity: 0.8;
}

.profile-content .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.profile-content .cont {
  padding: 10px 25px;
}

.profile-content #managerName {
  font-size: 35px;
  color: #3399ff;
  font-weight: 600;
  font-family: none;
}

.profile-content .btnCont {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 25px 25px;
}

.profile {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.profile-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 35%;
  border-radius: 5px;
}