#projectView .data .head-1 {
  width: 15%;
}

#projectView .data .head-2 {
  width: 20%;
}

#projectView .data .head-3 {
  width: 12%;
}

#projectView .data .head-4 {
  width: 10%;
}

#projectView .data .head-5 {
  width: 10%;
}

#projectView .data .head-6 {
  width: 10%;
}