#resourceView .data .head-1 {
  width: 15%;
}

#resourceView .data .head-2 {
  width: 20%;
}

#resourceView .data .head-3 {
  width: 25%;
}

#resourceView .data .head-4 {
  width: 15%;
}

#resourceView .data .head-5 {
  width: 15%;
}

#resourceView .data .head-6 {
  width: 10%;
}