* {
  margin: 0;
  padding: 0;
}

body {
  background: #141a1f;
  color: #3399ff;
  font-family: "General Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
