* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #141a1f; */
  background: #fcfcd0;
  /* color: #3399ff; */
  /* color: white; */
  font-family: "General Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
